.game-scoreboard {
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    justify-content: space-between;
    .score-ticker {
        background-color: #fff;
        color: #000;
        flex: 0 0 50%;
        margin: 0px -15px;
        border-radius: 10px;

        &.winning {
            .ticker-title {
                background-color: rgba(green, 0.8);
            }
        }

        .ticker-title {
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            background-color: rgba(red, 0.7);
            padding: 5px 0px;
            border-radius: 10px 10px 0px 0px;
        }

        .ticker-body {
            padding: 15px 0px;
        }
    }
}
